@using EPiServer.Web.Mvc.Html

@model EPiServerDemo.Models.Pages.StartPage

<div>
    @Html.PropertyFor(m => m.Heading)
    @Html.PropertyFor(m => m.MainBody)
    @Html.PropertyFor(m => m.MainContentArea)
</div>