@using EPiServer.Web.Mvc.Html

@model EPiServerDemo.Models.Pages.StartPage

<h1>
    @(this.Model.Heading ?? this.Model.Name)
</h1>

<div>
    @Html.PropertyFor(m => m.MainBody)
    @Html.PropertyFor(m => m.MainContentArea)
</div>
